<form name="application" data-novalidate data-ng-submit ng-controller="applicationForm as applicationForm" ng-init="applicationForm.init()">
    <div ng-if="applicationForm.initIndicator">
        <div class="form-group">
            <h3>Apply for Guardian Angel</h3>
            <hr>
        </div>
        <div class="form-group">
            <label>Guardian Angel is the service provided by the bank in a very unique and different ways </label>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <input
                    type="checkbox"
                    id="remember-credentials-checkbox"
                    name="rememberAccount"
                    ng-model="applicationForm.userAgreed"
                    aria-hidden="false">
                <label for="remember-credentials-checkbox">Select check box to agree to the terms and conditions given above</label>
            </div>
        </div>
        <div class="ocf-primary-switch">
            <button class="btn btn-primary-yellow" ng-click="applicationForm.goNext(applicationForm.userAgreed);">Apply</button>
        </div>
    </div>
    <div ng-if="!applicationForm.initIndicator">
        <label>Your Gardian And Angel is watching You !</label>
        <label>Enjoy fear free Life</label>
    </div>
</form>