<form name="application" data-novalidate data-ng-submit ng-controller="applicationForm as applicationForm" ng-init="applicationForm.init()">
    <div ng-if="applicationForm.initIndicator">
        <div class="form-group">
            <h3>Apply for Guardian Angel</h3>
            <hr>
        </div>
        <div class="form-group">
            <label>By subscribing to ABN AMRO Guardian Angel, I understand that:</label>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <input
                    type="checkbox"
                    id="location-checkbox"
                    name="rememberAccount"
                    ng-model="applicationForm.location"
                    aria-hidden="false">
                <label for="location-checkbox">My location can be traced by ABN AMRO Bank N.V. to find me in a disaster zone.</label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <input
                    type="checkbox"
                    id="contact-checkbox"
                    name="rememberAccount"
                    ng-model="applicationForm.contact"
                    aria-hidden="false">
                <label for="contact-checkbox">My personal details such as contact information may be shared by ABN AMRO Bank N.V. with Embassy and registered local NGOs to provide me life saving services.</label>
            </div>
        </div>
        <div class="form-group">
            <p>You may choose to unsubscribe from this service anytime.</p>
            <p>We will process you details in accordance with our <a href="#">privacy policy</a></p>
        </div>
        <div class="ocf-primary-switch">
            <button class="btn btn-primary-yellow" ng-click="applicationForm.goNext(applicationForm.location && applicationForm.contact);">Submit</button>
        </div>
    </div>
</form>