<div id="main-page" data-pid="page-nl_prive_ideal" class="bp-page bp-portal">
    <div class="container-fluid" ng-controller="paymentController as tikkiePayCtrl">
        <div class="panel panel-default" style="position: relative;">
            <div class="ng-scope panel-heading">
                <h2 class="panel-title">iDEAL - Bevestiging</h2>
            </div>
            <div class="panel-body">
                <div data-autoscroll="true">
                    <div>
                        <div class="container-fluid">
                            <form novalidate="" name="form" class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-invalid-is-valid-length-account-number ng-invalid-min-length" autocomplete="off">
                                <div>
                                    <fieldset>
                                        <div class="form-group" ng-class="{'has-warning has-feedback': ((form.accountNumber.$invalid && tikkiePayCtrl.formSubmitted || (form.accountNumber.$invalid && form.accountNumber.$dirty)) && form.accountNumber.$error.inputDataModified == false) || (form.accountNumber.$invalid && tikkiePayCtrl.formSubmitted) }">
                                            <p class="label label-warning sg-progress"></p>
                                            <label class="control-label col-sm-6 ng-binding">Rekeningnummer</label>
                                            <div class="col-sm-5">
                                                <div class="input-group ng-scope">
                                                    <span class="input-group-addon">NL** ABNA 0</span>
                                                    <input class="form-control" data-ng-class="align" aab-add-focus="true" maxlength="9" onblur="true" ng-model="tikkiePayCtrl.userInput.accountNumber" required="required" name="accountNumber" account-number-validation="" autocomplete="off" type="number">
                                                    <span ng-show="((form.accountNumber.$invalid && tikkiePayCtrl.formSubmitted || (form.accountNumber.$invalid && form.accountNumber.$dirty)) && form.accountNumber.$error.inputDataModified == false) || (form.accountNumber.$invalid && tikkiePayCtrl.formSubmitted)" class="glyphicon glyphicon-warning-sign form-control-feedback ng-hide"></span>
                                                </div>
                                                <div></div>
                                                <span class="help-block ng-binding ng-hide" ng-show="form.accountNumber.$invalid && form.accountNumber.$error.inputDataModified == false && form.accountNumber.$error.minLength && tikkiePayCtrl.userInput.accountNumber.length != undefined && tikkiePayCtrl.userInput.accountNumber.length != 0 && tikkiePayCtrl.userInput.accountNumber.length < 9">Vul aub een geldig rekeningnummer in.</span> <span class="help-block ng-binding ng-hide" ng-show="form.accountNumber.$invalid && form.accountNumber.$error.inputDataModified == false && form.accountNumber.$error.isValidAccountNumber && tikkiePayCtrl.userInput.accountNumber.length != undefined && tikkiePayCtrl.userInput.accountNumber.length != 0 && tikkiePayCtrl.userInput.accountNumber.length > 8 || (form.accountNumber.$invalid && tikkiePayCtrl.formSubmitted)">Vul aub een geldig rekeningnummer in.</span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-warning has-feedback': ((form.cardNumber.$invalid && tikkiePayCtrl.formSubmitted) || (form.cardNumber.$invalid && form.cardNumber.$dirty))}">
                                            <label for="inputPassNumber" class="col-sm-6 control-label ng-binding">Pasnummer</label>
                                            <div class="col-sm-4"><input class="form-control form-control-small" data-ng-class="align" id="inputPassNumber" name="cardNumber" aab-numeric-input="" limit="4" minlength="3" active-status="tikkiePayCtrl.softTokenActiveStatus" data-ng-model="tikkiePayCtrl.userInput.cardNumber" required="required" autocomplete="off" type="number"> <span ng-show="((form.cardNumber.$invalid && tikkiePayCtrl.formSubmitted) || (form.cardNumber.$invalid && form.cardNumber.$dirty))" class="glyphicon glyphicon-warning-sign form-control-feedback ng-hide"></span> <span ng-show="(form.cardNumber.$invalid && tikkiePayCtrl.formSubmitted) || (form.cardNumber.$error.minLength && tikkiePayCtrl.softTokenActiveStatus && form.cardNumber.$dirty)" class="help-block ng-binding ng-hide">Vul aub een geldig pasnummer in.</span></div>
                                        </div>
                                        <div class="row" ng-class="{'has-warning has-feedback': ((form.pin5.$invalid && tikkiePayCtrl.formSubmitted) || (form.pin5.$invalid && form.pin5.$dirty))}">
                                            <label class="control-label col-sm-6">Identificatiecode</label>
                                            <div class="col-sm-4">
                                                <div class="ocf-pin form-control form-control-small" data-ng-model="tikkiePayCtrl.userInput.pin5" id="pin5Input" name="pin5" minlength="5" onblur="true" autocomplete="off" required="required" pattern="[0-9]*">
                                                    <div class="ocf-pin-boxforbox">
                                                        <div class="ocf-pin-enclosure">
                                                            <div class="ocf-pin-status-box" ng-repeat="(key, value) in tikkiePayCtrl.boxes" ng-class="{'active':value.state, 'inactive':!value.state, 'ocf-pin-state':key === tikkiePayCtrl.pinstate}"></div>
                                                        </div>
                                                        <div class="ocf-pin-boxforinput form-control-small">
                                                            <input name="inputElement" id="pin5" data-testid="input-pin5" type="password" autocomplete="off" maxlength="5" pattern="[0-9]*" ng-focus="tikkiePayCtrl.addDefaultClass()" ng-blur="tikkiePayCtrl.removeDefaultClass()" ng-model="ngModel" class="form-control" data-index="1" value="" required="">
                                                        </div>
                                                    </div>
                                                    <span ng-show="((form.pin5.$invalid && tikkiePayCtrl.formSubmitted) || (form.pin5.$invalid && form.pin5.$dirty))" class="glyphicon glyphicon-warning-sign form-control-feedback">
                                                </span>
                                                    <span ng-show="((form.pin5.$invalid && tikkiePayCtrl.formSubmitted) || (form.pin5.$dirty && form.pin5.$invalid))" class="help-block ng-binding">Vul aub een geldige identificatie code in.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-xxs-12">
                                            <div class="ocf-primary-switch">
                                                <button class="btn btn-primary-yellow ng-binding" data-ng-click="tikkiePayCtrl.submitAndMoveToNextPageOnSucess(form)">volgende</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>